body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
    width: 100%;
    position: relative;
}

.name{
    font-size: 50px;
    color: white;
    position:sticky;
    top: 0;
    mix-blend-mode: difference;
}

.main{
    display: block;
    width: 450px;
    height: 800px;
    background-color: rgb(255, 255, 255);
}